@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coursaty</h1>
    <p class="lead">
        Coursaty is a great courses dictionary. It lists all courses from different authors, countries, topics and cultures.
         You can listen to any course internally in the website or externally in it's original location. You can give your 
        course a rating to help good courses appear to other people. You can discuss your opinion in the course with other
        mates through comments. Coursaty will be always your destination to find your suitable course.
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top Courses</h2>
        <p>
           
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top Authors</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Top News</h2>
        <p></p>
    </div>
</div>