@model IEnumerable<Coursaty.Models.Lecture>

@{
    Layout = "~/Views/Shared/_LayoutWithNoCredits.cshtml";
    ViewBag.Title = "Index";

    if (Model.Count() == 0)
    { 
        <h3>This course contains no lectures yet.</h3>
    }
    else
    {
        foreach (Coursaty.Models.Lecture lec in Model)
        {
            <a href=@Url.Action("Details", "Lectures", new { id = lec.id }) alt=@lec.name>
                <!--Lecture link-->
                <div class="well">
                    <div class="row">
                        <!--Title, Description, Rating-->
                        <div class="col-md-10">
                            <h4>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                @lec.name
                            </h4>
                              @{ 
                                  if (lec.description.Length > 250)
                                  {
                                      <p>@lec.description.Substring(0,250) <b> ...Read More...</b></p>
                                  }
                                  else
                                  {
                                      <p>@lec.description</p>
                                  }
                              }
                        </div>
                        <!--Thumbnail-->
                        <div class="col-md-2">
                            @{
                                if (string.IsNullOrEmpty(lec.thumb))
                                {
                                    <img class = "img-responsive thumbnail" src="/Images/noThumb.png" alt="No Thumb" />
                                }
                                else
                                {
                                    <img class = "img-responsive thumbnail" src="/Uploads/@lec.thumb" alt="@lec.thumb" />
                                }
                             }
                        </div>
                    </div>
                </div>
            </a>
        }
    }

}